<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserLoginService</servlet-name>
        <servlet-class>org.opevel.server.UserLoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgentRegisterService</servlet-name>
        <servlet-class>org.opevel.server.AgentRegisterServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainSignupService</servlet-name>
        <servlet-class>org.opevel.server.MainSignupServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpringSignupService</servlet-name>
        <servlet-class>org.opevel.server.SpringSignupServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadListingService</servlet-name>
        <servlet-class>org.opevel.server.service.UploadListingServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestGoogleService</servlet-name>
        <servlet-class>org.opevel.web.servlets.TestGoogleService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadListingImageServlet</servlet-name>
        <servlet-class>org.opevel.server.servlets.UploadListingImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rpcServlet</servlet-name>
        <servlet-class>org.opevel.server.RpcServiceImpl</servlet-class>
    </servlet>
    <!--<servlet>
        <servlet-name>BlobstoreUploadListing</servlet-name>
        <servlet-class>org.opevel.server.servlets.BlobstoreUploadListing</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>org.opevel.server.servlets.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Serve</servlet-name>
        <servlet-class>org.opevel.server.servlets.Serve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchService</servlet-name>
        <servlet-class>org.opevel.server.service.SearchServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
        <url-pattern>/signup</url-pattern>
        <url-pattern>/signup/*</url-pattern>
        <url-pattern>/agent</url-pattern>
        <url-pattern>/agent/*</url-pattern>
        <url-pattern>/auth</url-pattern>
        <url-pattern>/auth/*</url-pattern>
        <url-pattern>/fb</url-pattern>
        <!--<url-pattern>/*/register</url-pattern>
        <url-pattern>/register</url-pattern>
        
        <url-pattern>/thankyou</url-pattern>
        <url-pattern>/thankyou/*</url-pattern>-->
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginService</servlet-name>
        <url-pattern>/org.opevel.Listings/userloginservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgentRegisterService</servlet-name>
        <url-pattern>/org.opevel.Listings/agentregisterservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainSignupService</servlet-name>
        <url-pattern>/org.opevel.Listings/mainsignupservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpringSignupService</servlet-name>
        <url-pattern>/org.opevel.Listings/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadListingService</servlet-name>
        <url-pattern>/org.opevel.Listings/uploadListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestGoogleService</servlet-name>
        <url-pattern>/testgoogleservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadListingImageServlet</servlet-name>
        <url-pattern>/uploadListing/file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rpcServlet</servlet-name>
        <url-pattern>/org.opevel.Listings/rpc</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>BlobstoreUploadListing</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Serve</servlet-name>
        <url-pattern>/serve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchService</servlet-name>
        <url-pattern>/org.opevel.Listings/searchservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Listings.html</welcome-file>
        <!--<welcome-file>index.jsp</welcome-file>-->
    </welcome-file-list>
</web-app>
